body{ /* Normal  */
      font-size: 18px;
  }

blockquote {
  font-style: italic
}

img {
  width: 210px;
  display: block;
  margin: 10 auto;
}

h1 { /* Header 1 */
  font-size: 28px;
  color: Black;
}
h2 { /* Header 2 */
    font-size: 22px;
    color: Black;
}
h3 { /* Header 3 */
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
}